<ActionBar title="sell final">
</ActionBar> 

<StackLayout>
    <label text="sent"></label>
    <label text="Montant"></label>
    <label text="-----------------------"></label>

	<label text="sent"></label>
    <label text="Montant"></label>
    <label text="-----------------------"></label>

    <label text="sent"></label>
    <label text="Montant"></label>
    <label text="-----------------------"></label>

    <label text="sent"></label>
    <label text="Montant"></label>
    <label text="-----------------------"></label>

    <label text="sent"></label>
    <label text="Montant"></label>
    <label text="-----------------------"></label>

    <button text="Back" [nsRouterLink]="['/']" ></button>
    <button text="Buy" [nsRouterLink]="['/succes']" ></button>
</StackLayout>