<StackLayout>
    
    <Label text="Buy Crypto Instantly" textWrap="true" class="buy-part"></Label>
    <GridLayout columns="*,*" rows="*,*" height="100">
        <button text="bitcoin BTC" [nsRouterLink]="['/bform']" row="0" col="0"></button>
        <button text="Eutherumcoin ETH" [nsRouterLink]="['/bform']" row="0" col="1"></button>
        <button text="bitcoin Cash BCH" [nsRouterLink]="['/bform']" row="1" col="0"></button>
        <button text="Litecoin LTC" [nsRouterLink]="['/bform']" row="1" col="1" ></button>
    </GridLayout>
    
    <Label text="Sell Crypto Instantly" textWrap="true" class="buy-part2"></Label>
    <GridLayout columns="*,*" rows="*,*" height="100">
        <button text="bitcoin BTC" [nsRouterLink]="['/bform']" row="0" col="0"></button>
        <button text="Eutherumcoin ETH" [nsRouterLink]="['/bform']" row="0" col="1"></button>
        <button text="bitcoin Cash BCH" [nsRouterLink]="['/bform']" row="1" col="0"></button>
        <button text="Litecoin LTC" [nsRouterLink]="['/bform']" row="1" col="1" ></button>
    </GridLayout>

</StackLayout>