<StackLayout>
    <Label text="Buy Crypto Instantly" textWrap="true"></Label>
    <button text="bitcoin BTC" [nsRouterLink]="['/bform']"></button>
    <button text="bitcoin Cash BCH" [nsRouterLink]="['/bform']"></button>
    <button text="Eutherumcoin ETH" [nsRouterLink]="['/bform']" ></button>
    <button text="Litecoin LTC" [nsRouterLink]="['/bform']" ></button>

    <Label text="Sell Crypto Instantly" textWrap="true"></Label>
    <button text="bitcoin BTC" [nsRouterLink]="['/sform']" ></button>
    <button text="bitcoin Cash BCH" [nsRouterLink]="['/sform']" ></button>
    <button text="Eutherumcoin ETH" [nsRouterLink]="['/sform']" ></button>
    <button text="Litecoin LTC" [nsRouterLink]="['/sform']" ></button>
</StackLayout>