<ScrollView orientation="vertical">
    <StackLayout orientation="vertical">
        <label text="Purchase"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="Purchase"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="Dexway fee"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="TOtal"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <button text="next"></button>

        <label text="Purchase"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="Purchase"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="Dexway fee"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="TOtal"></label> 
        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <label text="montant"></label> 
        <label text="---------------------------"></label> 

        <button text="Back"></button>
        <button text="Buy" [nsRouterLink]="['/succes']"></button>
    </StackLayout>
</ScrollView>
