.btn-start {
    width: 100;
    color: #a6218a;

}

.page-start{
    background-image: url("~/img/bgroung1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.txt-start {
    text-align: center;
    color: yellow;
    font-size: medium;
    font-weight: 400;

}

.logo1 {
    width: 200;
    height: 200;
    position: relative;
    z-index: 15;
    margin-top: 20%;
    margin-bottom: 2%;
} 